#checkIn.page
	h2 Check-In
	form(method='POST', action='https://docs.google.com/forms/d/1wFGUtb8zNZzWorOxRDn875zsE9fDtHfScddX_9Mcxt0/formResponse', target='hidden_iframe', onsubmit='checkSub=true;')
		h4.manCheck Manager Name
		select(type='text', placeholder='Manager', name='entry.259169961')
			option(value="")
			option(value='Chelsea Sasaoka') Chelsea Sasaoka
			option(value='Austin Burr') Austin Burr
			option(value='Matthew Pochocki') Matthew Pochocki
			option(value='Lauren Murken') Lauren Murken
			option(value='Rachel Davis') Rachel Davis
			option(value='Zoe Jardenico') Zoe Jardenico
			option(value='Sydney Hafer') Sydney Hafer
			option(value='Chris Wood') Chris Wood
			option(value='Cori Cominsky') Cori Cominsky
			option(value='Morgan McIver') Morgan McIver
			option(value='Marissa Hodges') Marissa Hodges
		input(type='text', placeholder='Employee Student ID', name='entry.128268371')
		input(type='text', placeholder='Employee Student ID', name='entry.919481212')
		input(type='submit', value='Submit')
iframe(name="hidden_iframe", id="hidden_iframe", style="display:none;", onload="if(checkSub){alert('Checked In!'); checkSub=false; window.location.hash = '#/transactions'}")
