#info.page
 h2 Other Information
 a(href='mailto:dholakiyaks@s.dcsdk12.org?subject=Manager%20Interface') Support
 a(href='https://docs.google.com/spreadsheet/ccc?key=0Ah4ub_GLQC5OdE9pb3h6a1RoUm5Ccl92UTJ0WjgtYnc&usp=sharing') Employee Check-In Log
 a(href='#') Shift Schedule
 a(href='https://docs.google.com/spreadsheet/ccc?key=0Ah4ub_GLQC5OdEV2QWhiZ1JyVk5iZEVLbFRiX2M1TXc&usp=sharing') Transaction Log